In [29]:
import pandas as pd 
import boto3
from os import getenv
from io import StringIO
import requests

bucket = getenv('BUCKET')

In [ ]:
s3_client = boto3.client('s3')
content = s3_client.get_object(Bucket = bucket, Key = 'bronze-layer/pokemon.csv')
df = content["Body"].read().decode("utf-8")
try:
    df = pd.read_csv(StringIO(df))
    print('Get Object Successful')
except Exception as erro:
    print('Error getting the object:', erro)

df['primary_type'] = None
df.set_index('name', inplace = True)

Get Object Successful

In [111]:
df.loc[i, 'url']

'https://pokeapi.co/api/v2/pokemon/1/'

In [113]:
for i in df.index:
    dic = requests.get(df.loc[i, 'url']).json()
    df['primary_type'].loc[i] = dic['types'][0]['type']['name']

In [116]:
df.drop(columns = 'url', inplace = True)

In [117]:
df

                          name primary_type
0                    bulbasaur        grass
1                      ivysaur        grass
2                     venusaur        grass
3                   charmander         fire
4                   charmeleon         fire
...                        ...          ...
1297   ogerpon-wellspring-mask        grass
1298  ogerpon-hearthflame-mask        grass
1299  ogerpon-cornerstone-mask        grass
1300        terapagos-terastal       normal
1301         terapagos-stellar       normal

[1302 rows x 2 columns]